body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #333;
}

form {
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #da5f18; 
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #888888;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #000000;
  color: white;
}

td button {
  background: #da5f18; 
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

td button:hover {
  background: #cacdcf;
}
